body.theme_dark {
  --button-color: #FF0070;
  --head-color: #DB00FF;
  --background-color: #000028;
  --title-text-color: #000028;
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --lamp-color: currentColor;
  --button-color-focus: rgb(255 0 112 / 0.4);
}

.page.theme_dark {

  &::before {
    background-image: url(../images/cover-image-dark.png);
  }
}

@media (prefers-color-scheme: dark) {

  body.theme_auto {
    --button-color: #FF0070;
    --head-color: #DB00FF;
    --background-color: #000028;
    --title-text-color: #000028;
    --title-color: #FF0070;
    --text-color: #F1B2CE;
    --lamp-color: currentColor;
    --button-color-focus: rgb(255 0 112 / 0.4);
  }
  
  .page.theme_auto {
  
    &::before {
      background-image: url(../images/cover-image-dark.png);
    }
  }
}