:root {
  --button-color: #FF0070;
  --head-color: #DB00FF;
  --shadow-color: #FF0070;
  --background-color: #000028;
  --title-text-color: #000028;
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --lamp-color: currentColor;
  --button-color-focus: rgb(255 0 112 / 0.4);
  --font-weight_main: 400;
  --font-weidht_bold: 700;
  --font-size_main: 18px;
  --line-height_main: 1;
  --line-height_h:0.83;
  --line-height_title: 1.3;
  --shadow_main: 4px;
  --lamp-size: 9px;
  --size: 20px;
  --min-size: calc(var(--size)/2);
  --decor-size: 25px;
  --gap-size: 20px;
  --gap-min-size: calc(var(--gap-size)/2);
  --page-grid-size: calc(var(--gap-size) *3);
  --main-grid-size: calc(var(--gap-size) *4);
}
